h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

div.cookbook-title{
  margin-top: 60px;
}

div.cookbook-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ffffff;
  margin: 50px 100px 0;
  background-clip: padding-box;
}

/* Less Margins for Smaller Screens */
@media screen and (max-width: 992px) {
  div.cookbook-tab-container {
    margin: 0 20px;
  }
}

div.cookbook-tab-menu{
  padding-top: 0px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
div.cookbook-tab-menu div.list-group{
  margin-bottom: 50px;
}
div.cookbook-tab-menu div.list-group>a .glyphicon,
div.cookbook-tab-menu div.list-group>a .fa {
  color: #ED6347;
}
div.cookbook-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.cookbook-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.cookbook-tab-menu div.list-group>a.active,
div.cookbook-tab-menu div.list-group>a.active .glyphicon,
div.cookbook-tab-menu div.list-group>a.active .fa{
  background-color: #ED6347;
  background-image: #ED6347;
  color: #ffffff;
}

div.cookbook-tab-menu div.list-group>a.active, 
div.cookbook-tab-menu div.list-group>a.active:hover, 
div.cookbook-tab-menu div.list-group>a.active:focus {
  border-color: #ED6347;
}

div.cookbook-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #ED6347;
}

div.cookbook-tab-content{
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  padding: 10px 20px;
  height: 60vh;
  overflow-y: scroll;
}

div.cookbook-tab div.cookbook-tab-content:not(.active){
  display: none;
}

/* Create Section and Form */
h3.cookbook-create-header {
  text-align: left;
  margin-top: 4px;
}

form#cookbook-create-form {
  padding-top: 2px;
}

div.cookbook-create-section {
  margin: 8px 0;
}

div.cookbook-create-section button {
  color: #ffffff;
  background-color: #ED6347;
  padding: 4px 8px;
  margin: 4px 0 8px;
  border-width: 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

div.cookbook-create-section input,
div.cookbook-create-section select {
  outline: 0;
  margin: 2px 0;
  padding: 0 4px;
}

div.cookbook-create-section button:active,
div.cookbook-create-section button:focus {
  outline: 0;
  border-width: 0;
}

input#cookbook-create-title {
  width: 50%;
}

div.cookbook-create-time input {
  width: 50px;
}

select.cookbook-create-cuisine,
select.cookbook-create-difficulty {
  width: 110px;
}

div.cookbook-create-ingredient .ingredient_qty {
  width: 20%;
  max-width: 100px;
}

div.cookbook-create-ingredient .ingredient_desc {
  width: 30%;
}

div.cookbook-create-step input {
  width: 75%;
}